body {
    font-family: "Outfit", sans-serif;
    background-image: url("Assets/blur_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -700px;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 29);
    overflow-x: hidden;
    transition: ease-in-out 0.5s;
}

.arabic {
    font-family: "Noto Kufi Arabic", sans-serif;
    text-align: right;
    direction: rtl; 
    unicode-bidi: embed;
}

.dark-mode {
    transition: ease-in-out 0.5s;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    header {
        transition: all ease-in-out 0.5s;
        background-color: rgba(0, 0, 0, 0.7);
        .logo{
            background-image: url(Assets/logo_1.png);
        }
        .links {
            .about{
                color: white;
            }
            .account {
                color: white;
                .acc_icon{
                    background-image: url(Assets/your_acc_icon.png);
                }
            }
        }
    }
    
    #modetoggle {
        .modetogglelight {
            display: none;
        }

        .modetoggledark {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img {
                width: 20px;
                object-fit: contain;
                background-position: right;
                background-repeat: no-repeat; /* Prevents the background from repeating */
                background-size: contain;
            }
            box-shadow: 0px 0px 20px #00000014;
            border-radius: 20px;
            height: 40px;
            width: 140px;
            border-color: rgb(0, 0, 0);
            border-width: 1px;
            border-style: solid;
            background-color: rgba(0, 0, 0, 0.311);
            cursor: pointer;
            color: white;
            font-weight: 500;
        }
        .modetoggledark:hover, .modetoggledark:active{
            background-color: rgba(0, 0, 0, 0.595);
        }
    }

    .intro {
        video {
            transition: ease-in-out 0.5s;
            box-shadow: 0px 0px 100px #0000009d;
        }

    }
}

    #bubble1 {
        z-index: -100;
        width: 20%;
        height: 160px;
        object-fit: contain;
        background-image: url("Assets/bubble1.png");
        background-repeat: no-repeat; /* Prevents the background from repeating */
        background-size: contain; /* Controls how the image fits inside the div */
        position: absolute;
        top: 550px; /* Set the distance from the top of the nearest positioned ancestor */
        left: 50px; /* Set the distance from the left */
    }
    
    #bubble2 {
        z-index: -100;
        width: 50%;
        height: 360px;
        object-fit: contain;
        background-image: url("Assets/bubble2.png");
        background-repeat: no-repeat; /* Prevents the background from repeating */
        background-size: contain; /* Controls how the image fits inside the div */
        position: absolute;
        top: -20px; /* Set the distance from the top of the nearest positioned ancestor */
        left: -40px; /* Set the distance from the left */
    }
    
    #bubble3 {
        z-index: -100;
        width: 50%;
        height: 300px;
        object-fit: contain;
        background-image: url("Assets/bubble3.png");
        background-position: right;
        background-repeat: no-repeat; /* Prevents the background from repeating */
        background-size: contain; /* Controls how the image fits inside the div */
        position: absolute;
        top: 190px; /* Set the distance from the top of the nearest positioned ancestor */
        right: -70px; /* Set the distance from the left */
    }

#modetoggle {
    position: fixed;
    bottom: 50px;
    right: 5%;
    .modetoggledark {
        display: none;
    }
    .modetogglelight {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
            width: 20px;
            object-fit: contain;
            background-position: right;
            background-repeat: no-repeat; /* Prevents the background from repeating */
            background-size: contain;
        }
        box-shadow: 0px 0px 20px #00000014;
        border-radius: 20px;
        height: 40px;
        width: 140px;
        border-color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        background-color: rgba(255, 255, 255, 0.311);
        cursor: pointer;
        color: #000000;
        font-weight: 500;
    }
    .modetoggle:hover, .modetoggle:active{
        background-color: rgba(255, 255, 255, 0.397);
    }
}

header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.5s;
    z-index: 100;
    background-color: rgba(241, 241, 241, 0.89);
    position: sticky;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 55px;
    padding-inline: 40px;
    margin-inline: 3%;
    border-radius: 25px;
    .logo{
        background-image: url(Assets/logo_1_dark.png);
        object-fit: contain;
        background-repeat: no-repeat; /* Prevents the background from repeating */
        background-size: contain;
        width: 130px;
        height: 15px;
        transition: all ease-in-out 0.2s;
    }
    .logo:hover, .logo:active{
        background-image: url(Assets/logo_icon_colorful.png);
        transition: all ease-in-out 0.2s;
    }
    .links {
        display: flex;
        align-items: center;
        flex-direction: row;
        .about {
            text-decoration: none;
            color:#474747;
            font-size: 95%;
            margin-inline: 20px;
            font-weight: 400;
            transition: all ease-in-out 0.2s;
        }
        .about:hover, .about:active{
            color: #0075C9;
            transition: all ease-in-out 0.2s;
        }
        .home {
            text-decoration: none;
            color: #0075C9;
            font-size: 95%;
            margin-inline: 20px;
            font-weight: 400;
            transition: all ease-in-out 0.2s;
        }

        .account {
            text-decoration: none;
            color: #474747;
            font-size: 95%;
            display: flex;
            align-items: center;
            flex-direction: row;
            font-weight: 400;
            margin-inline: 20px;
            transition: all ease-in-out 0.2s;
            .acc_icon{
                background-image: url(Assets/your_acc_icon_dark.png);
                object-fit: contain;
                background-repeat: no-repeat; /* Prevents the background from repeating */
                background-size: cover;
                width: 15px;
                height: 20px;
                object-fit: contain;
                margin-inline: 17px;
                transition: all ease-in-out 0.2s;
            }
        }
        .account:hover, .account:active{
            color: #0075C9;
            .acc_icon{
                background-image: url(Assets/your_acc_icon_blue.png);
            }
            transition: all ease-in-out 0.2s;
        }
    }
}

.intro {
    overflow: hidden;
    margin-top: 15px;
    padding: 25px;
    .in-intro {
        height: max-content;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            h1 {
                font-size: 220%;
                width: 85%;
                height: min-content;
                #boldtext{
                    font-weight: 300;
                }
        }
        video {
            margin: 20px;
            width: 70%;
            box-shadow: 0px 0px 100px #0075c99d;
            transition: all ease-in-out 0.5s;
            border-radius: 16px;
        }
        img {
            width: 35px;
        }
        }
    
    .contribute {
        overflow: hidden;
        transition: ease-in-out 0.5s;
        display: block;
        background: url('Assets/contribute-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-inline: 4.5%;
        background-color: rgba(255, 255, 255, 0.497);
        padding: 10px;
        padding-inline: 25px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 16px;
        width: 700px;
        color: rgb(255, 255, 255);
        p {
            font-weight: 300;
            margin: 10px;
            font-size: 17px;
        }
        .arabic {
            text-align: right;
            font-size: 14px;
            font-weight: 400;
        }
        .contribute-button {
            box-shadow: 0px 4px 10px #0000002a;
            transition: ease-in-out 0.5s;
            background-color: transparent;
            color: rgb(255, 255, 255);
            padding: 10px;
            padding-inline: 30px;
            margin-top: 0px;
            font-size: 14px;
            MARGIN-bottom: 15PX;
            border: solid 2px rgba(255, 255, 255, 0.478);
            border-radius: 30px;
        }
    }
    .scrolldown {
        margin : 40px;
        font-size: 10px;
        transition: all 0.2s;
    }
    @media (max-width: 850px) {

        .in-intro {
            margin: 0;
            flex-direction: column;
            h1 {
                font-size: 22px;;
            }
            video {
                margin: 20px;
                width: 350px;
            }
            img {
                width: 27px;
            }
        }
        .contribute {
            p {
                font-size: 13px;
            }
            .arabic {
                text-align: right;
                font-size: 11px;
            }
            width: auto;
            .contribute-button{
                font-size: 11px;
            }
        }
        
        .scrolldown{
            margin: 10px;
            font-size: 10px;
        }
    }
    .scrolldown:hover {
        color: #0075C9;
        text-shadow: 0px 0px 20px #0075C9;
        transition: all 0.2s;
    }
    .contribute-button:hover {
        transition: ease-in-out 0.2s;
        background-color: rgba(255, 255, 255, 0.256);
        cursor: pointer;
    }
}

.drivefolders {
    background-color: #000204b6;
    padding: 20px;
    margin-inline: 05%;
    border: solid 0.1px rgba(255, 255, 255, 0.252);
    border-radius: 26px;
    margin-bottom: 30px;
    h3{
        font-size: 15px;
        margin-inline: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ul {
        display: block;
        height: max-content;
        margin-top: 10px;
        li {
            display: flex;
            flex-direction: row;
            a {
                img{
                    width: 20px;
                    margin-inline-end: 10px;
                }
                margin-inline: 4px;
                background-color: #00203891;
                width: 100%;
                border: solid 0.1px rgba(255, 255, 255, 0.327);
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 10px;
                text-decoration: none;
                color: white;
                font-size: 90%;
            }
            .contactbutton{
                width: 20px;
            }
            a:hover, a:active {
                background-color: #0075c966;
            }
        }
    }
}

@media (max-width: 850px) {
    .drivefolders {
        h3{
            font-size: 12px;
        }
        ul {
            li {
                a {
                    background-color: #00203891;
                    border: solid 0.1px rgba(255, 255, 255, 0.327);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    text-decoration: none;
                    color: white;
                    font-size: 80%;
                }
                a:hover, a:active {
                    background-color: #0075c966;
                }
            }
        }
    }
    
}

blue{
    color: #0075C9;
}
blue2{
    color: #0075C9;
    text-shadow: 0px 0px 5px #0d8ce788;
}
green{
    color: #00FFD1;
}

h4 {
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
    blue{
        color: #0075C9;
    }
    green{
        color: #00FFD1;
    }
}